{% extends "base.html" %}
{% load static %}
{% block content %}
<head>
    <title>Login and Registartion Form</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"> 
</head>
<body>
<div class="contain">
  <div class="form_box">
   <div class="central">
    <h3>Reset your password</h3>

      <form class="input-group" method="POST" action="">
         {% csrf_token %}
			<input id="email" class="input-field" type="email" name="email" placeholder="Email" >
            <input type="submit" class="submit-btn" name="Reset" value="Send">
       </form>
     </div>
    </div>
</div>
</body>
{% endblock %}