{% extends "base.html" %}
{% load static %}
{% block content %}
	<section class="page-top-section set-bg" data-setbg="img/header-bg/3.jpg">
		<h2>The Post</h2>
		<div class="hero-social-warp">
			<p>Follow us on Social MEdia</p>
			<div class="hero-social-links">
				<a href="#"><i class="fa fa-behance"></i></a>
				<a href="#"><i class="fa fa-dribbble"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-pinterest"></i></a>
			</div>
		</div>
	</section>
	<!-- Page top section end-->

	<!-- Single Blog page -->
	<section class="page-warp single-blog-page">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="blog-item">
						<div class="blog-thumb set-bg" data-setbg={{post.imageURL}}>
							<div class="blog-date">
								<h2>{{post.publish.day}}.
								{{post.publish.month}}</h2>							
							</div>
						</div>
						<div class="blog-head">
							<div class="blog-tags">fashion, event, lifestyle</div>
							<h2>{{ post.title }}</h2>
							<h3>Published {{ post.publish }} by {{ post.author }}</h3>
						</div>
						<p>{{post.body}}</p>
					</div>
					<br/>
                    <form action="{% url 'like_post' post.pk %}", method="POST">
					{% csrf_token %}
					<button type="submit", name="post_id", value="{{post.id}}"><img id='like-icon'src="{% static 'img/heart.png' %}"/></button>  {{post.likes_in_total}} Likes
					</form>
					<br/>
					<div class="blog-comments">
						<h3 class="bc-title">{{post.comments.all.count}}  Comments</h3>
						<ul class="comments-list">
						{% for comment in post.comments.all%}
							<li>
								<div class="comment-text">
									<h6>{{comment.author}}<span>| {{comment.date}}</span></h6>
									<p>  {{comment.body}} </p>
									<a href="#" class="reply-btn">Reply</a>
								</div>
							</li>
						{% endfor %}
						</ul>
						<h3 class="bc-title">Add your comments</h3>
						<form class="comment-form" action='' id="form_add" method="POST">
						    {% csrf_token %}
							<div class="row">
								<div class="col-md-12">
								    {{form.as_p}}
									<button  form="form_add", type="submit", class="site-btn sb-dark"> ADD <i class="fa fa-angle-double-right"></i></button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="col-lg-4 sidebar">
					<!-- widget -->
					<div class="sb-widget">
						<form class="search-widget">
							<input type="text">
							<button type="submit">Search</button>
						</form>
					</div>
					<!-- widget -->
					<div class="sb-widget">
						<h2 class="sb-title">Trending Articles</h2>
						<div class="populer-post">
							<div class="pp-item">
								<img src="img/blog/populer-post/1.jpg" alt="">
								<div class="pp-text">
									<div class="pp-meta">
										<span>22 january 2019</span> <span>|</span> <span>In Fashion</span>
									</div>
									<h5>Our Fashion app is out now</h5>
								</div>
							</div>
							<div class="pp-item">
								<img src="img/blog/populer-post/2.jpg" alt="">
								<div class="pp-text">
									<div class="pp-meta">
										<span>22 january 2019</span> <span>|</span> <span>In Fashion</span>
									</div>
									<h5>Color of the year anounced</h5>
								</div>
							</div>
							<div class="pp-item">
								<img src="img/blog/populer-post/3.jpg" alt="">
								<div class="pp-text">
									<div class="pp-meta">
										<span>22 january 2019</span> <span>|</span> <span>In Fashion</span>
									</div>
									<h5>10 tips to have a stilish outfit</h5>
								</div>
							</div>
							<div class="pp-item">
								<img src="img/blog/populer-post/4.jpg" alt="">
								<div class="pp-text">
									<div class="pp-meta">
										<span>22 january 2019</span> <span>|</span> <span>In Fashion</span>
									</div>
									<h5>How to wear jeans</h5>
								</div>
							</div>
						</div>
					</div>
					<!-- widget -->
					<div class="sb-widget">
						<div class="categories-widget">
							<h2 class="sb-title">Categories</h2>
							<ul>
								<li><a href="#">Fashion</a></li>
								<li><a href="#">Lifestyle</a></li>
								<li><a href="#">Travel</a></li>
								<li><a href="#">Make up</a></li>
								<li><a href="#">Community</a></li>
								<li><a href="#">Uncategorized</a></li>
							</ul>
						</div>
					</div>
					<!-- widget -->
					<div class="sb-widget">
						<h2 class="sb-title">Latest Comments</h2>
						<div class="latest-comments">
							<div class="lc-item">
								<img src="img/blog/comment-thumb/1.jpg" alt="">
								<h4><span>Maria Smith</span> On <a href="#">Fashion Campaign</a></h4>
							</div>
							<div class="lc-item">
								<img src="img/blog/comment-thumb/2.jpg" alt="">
								<h4><span>James Brown</span> On <a href="#">New York Fashion week</a></h4>
							</div>
							<div class="lc-item">
								<img src="img/blog/comment-thumb/3.jpg" alt="">
								<h4><span>Cristi S</span> On <a href="#">Tips for a better wardrobe</a></h4>
							</div>
							<div class="lc-item">
								<img src="img/blog/comment-thumb/4.jpg" alt="">
								<h4><span>Mikel James </span> On <a href="#">Fashion Campaign</a></h4>
							</div>
						</div>
					</div>
					<!-- widget -->
					<div class="sb-widget">
						<a href="#" class="add">
							<img src="img/add.jpg" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Single Blog page end-->


	<!-- Back to top -->
	<div class="container">
		<div class="backtotop">
			<div class="up-btn" id="backTotop">UP</div>
		</div>
	</div>
      <form action='' id="form_add" method="POST">
      {% csrf_token %}
           {{form.as_p}}
      </form>
      <button  form="form_add", type="submit", class="btn btn-primary btn-sm">Add One</button> 
   
{% endblock %}