{% extends "base.html" %}
{% load static %}
{% block content %}
{% comment %} <section class="page-top-section set-bg" data-setbg="{% static 'img/header-bg/1.jpg' %}">
	<h2>Countries</h2>
</section> {% endcomment %}
<section class="award-section spad">
	<div class="container">
		<div class="award-slider owl-carousel">
			{% for country in countries %}
				<a href="{% url 'country_details' country.id %}"><img src='{{ country.icon.url }}' width="270" height="188"></a>
			{% endfor %}
		</div>
	</div>
</section>


{% endblock %}